.header {
    background: -webkit-linear-gradient($dark-orange, lighten($dark-orange, 20%));
    background: -moz-linear-gradient($dark-orange, lighten($dark-orange, 20%));
    background: linear-gradient($dark-orange, lighten($dark-orange, 20%));
    background: -ms-linear-gradient($dark-orange, lighten($dark-orange, 20%));
    background: -o-linear-gradient($dark-orange, lighten($dark-orange, 20%));
    border-bottom: 1px solid lighten($dark-orange, 10%);
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: space-around;
    opacity: 0.8;
}

.header__title {
    color: white;
    display: flex;
    text-decoration: none;
}

.header__title h1 {
    color: white;
    font-size: 21px;
    margin: 0;
    padding: $m-size;
}

.header__title img {
    height: auto; 
    margin-top: 8px;
    max-height: 40px;
    max-width: 40px; 
    width: auto;
}