.header {
    background: $dark-orange;
    border-bottom: 2px solid $dark-orange;
    opacity: 0.8;
}

.header__title {
    color: white;
    text-align: center;
    text-decoration: none;
    h1 {
        margin: 0;
        padding: $m-size;
    }
}