.header {
    background: $dark-orange;
    border-bottom: 2px solid $dark-orange;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: space-around;
    opacity: 0.8;
}

.header__title {
    color: white;
    display: flex;
    text-decoration: none;
}

.header__title h1 {
    color: white;
    font-size: 21px;
    margin: 0;
    padding: $m-size;
}

.header__title img {
    height: auto; 
    margin-top: 8px;
    max-height: 40px;
    max-width: 40px; 
    width: auto;
}