.page-header {
    background: $off-white;
    margin-bottom: $l-size;
    padding: $s-size 0;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}

.page-header__no-absence {
    font-style: italic;
}

.page-header__filtered-absence {
    color: $blue;
    font-style: italic;
}