.page-header {
    background: -webkit-linear-gradient(rgb(194, 190, 190), lighten($off-white, 20%));
    background: -moz-linear-gradient(rgb(194, 190, 190), lighten($off-white, 20%));
    background: linear-gradient(rgb(194, 190, 190), lighten($off-white, 20%));
    background: -ms-linear-gradient(rgb(194, 190, 190), lighten($off-white, 20%));
    background: -o-linear-gradient(rgb(194, 190, 190), lighten($off-white, 20%));
    margin-bottom: $s-size;
    padding: $s-size 0;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}

.page-header__no-absence {
    font-style: italic;
}

.page-header__filtered-absence {
    color: $blue;
    font-style: italic;
}