#table-absences {
    border-collapse: collapse;
    border: 3px solid $light-grey;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

#table-absences td,
#table-absences th {
    border: 1px solid $light-grey;
    padding: 8px;
}

#table-absences tr:nth-child(even) {
    background-color: $off-white;
}

#table-absences tr:hover {
    background-color: $light-grey;
}

#table-absences th {
    background-color: $dark-blue;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}